@using Fannan.Web.Entities
@using Humanizer
@model List<Post>
@{
    Layout = "_FeedLayout";
}

<div class="my-3">
    <form method="post" action="/feed" enctype="multipart/form-data" class="form">
        <textarea class="form-control mb-2" name="text" placeholder="What's on your mind?" required></textarea>
        <div class="d-flex">
            <input type="file" class="form-control" name="media" accept="image/png, image/jpeg">
            <input type="submit" class="form-control" style="width: auto; margin-left: 20px;" />
        </div>
    </form>
</div>
<hr />
@foreach (var post in Model)
{
    <div class="my-3 bg-gradient" style="padding: 20px;" id="@post.Id">
        <div class="row">
            <a class="col fw-bold m-0" href="/Profile/@post.User?.Username">@post.User?.Username</a>
            <p class="col text-end">@post.Date.Humanize()</p>
        </div>
        @if (!string.IsNullOrEmpty(post.Text))
        {
            <div class="row">
                <p class="col">@post.Text</p>
            </div>
        }

        @if (post.Media != null)
        {
            <img src="@($"api/medias/{post.MediaId}")" style="width: 100%;" />
        }

        <div class="row mt-3 d-flex">
            <a class="col" href="Post/@post.Id/Like#@post.Id"><i class="fa-solid fa-heart text-danger"></i> @post.Likes.Count</a>
            <p class="col"><i class="fa-solid fa-comment"></i> @(post.Comments.Count + post.Comments.SelectMany(c => c.Replies).Count())</p>
        </div>
        <form method="get" class="form">
            <input type="text" name="comment" class="form-control" placeholder="Write your comment" />
        </form>
        <hr />
        @{
            var fCom = post.Comments.FirstOrDefault();
        }
        @if (fCom != null)
        {
            <div>
                <p class="fw-bold m-0">@fCom.User.FirstName</p>
                <p>@fCom.Content</p>
            </div>
        }
    </div>
}
